HOMELAB_NETWORK_HTTP_ENABLED=true
HOMELAB_NETWORK_HTTP_PORT=80
HOMELAB_NETWORK_HTTPS_ENABLED=true
HOMELAB_NETWORK_HTTPS_PORT=443
HOMELAB_NETWORK_HTTPS_EMAIL=mail@example.com
HOMELAB_MONITOR_DOMAIN=homelab.example.com
HOMELAB_MONITOR_HEADLAMP_DASHBOARD_ENABLED=true
HOMELAB_MONITOR_HEADLAMP_DASHBOARD_OPENCOST_ENABLED=true
HOMELAB_MONITOR_HEADLAMP_DASHBOARD_PROMETHEUS_ENABLED=true
HOMELAB_MONITOR_HEADLAMP_DASHBOARD_TRIVY_ENABLED=false
HOMELAB_MONITOR_TRAEFIK_DASHBOARD_ENABLED=true
HOMELAB_MONITOR_TRAEFIK_DASHBOARD_AUTH_USERNAME=****
HOMELAB_MONITOR_TRAEFIK_DASHBOARD_AUTH_PASSWORD=****
