# --- Global -------------------
# Allow all example files (i.e. .env.example or inventory.example.yaml)
!*.example*

# --- Env -------------------
.env*

# --- Ansible -------------------
.ansible
inventory/*
!inventory/main.example.yaml

# --- Python -------------------
.venv
