Welcome to Homelab!

This is a light weight {{ node_type | mandatory }} server running just enough
stuff (microk8s, nginx, certbot, etc.) to self-host applications.

For more information, visit https://github.com/this-oliver/homelab
