# IMPORTANT: the order of the resources matters.
# IPAdressPool first, and then L2Advertisment.
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: gateway
spec:
  addresses:
  - {{ ansible_facts['ansible_default_ipv4']['address'] }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: metallb-advertisement
