# Traefik Helm values.
# See https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml

# ── Providers ───────────────────────────────────────────────────────
providers:
  kubernetesGateway:
    enabled: true

# ── Gateway ─────────────────────────────────────────────────────────
gateway:
  enabled: true
  listeners:
    web:
      port: 8000
      protocol: HTTP
      namespacePolicy:
        from: All

# ── Dashboard ───────────────────────────────────────────────────────
api:
  basePath: "traefik"

ingressRoute:
  dashboard:
{% if traefik_dashboard_ingress_rule != "" %}
    enabled: true
{% else %}
    enabled: false
{% endif %}
    matchRule: "{{ traefik_dashboard_ingress_rule }}"
    entryPoints:
      - web
{% if traefik_dashboard_ingress_rule != "" %}
    middlewares:
    - name: traefik-dashboard-ratelimit
    - name: traefik-dashboard-auth
{% endif %}

# ── Logging ─────────────────────────────────────────────────────────
log:
  format: json

accessLog:
  enabled: true

# ── Extra Objects ─────────────────────────────────────────────────────────
{% if traefik_dashboard_ingress_rule != "" %}
extraObjects:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: traefik-dashboard-auth-secret
    type: kubernetes.io/basic-auth
    stringData:
      username: "{{ homelab_admin_username }}"
      password: "{{ homelab_admin_password }}"
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: traefik-dashboard-auth
    spec:
      basicAuth:
        secret: traefik-dashboard-auth-secret
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: traefik-dashboard-ratelimit
    spec:
      rateLimit:
        average: 50
        period: 1s
        burst: 50
{% endif %}
