# Traefik Helm values.
# See https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml

# ── Providers ───────────────────────────────────────────────────────
providers:
  kubernetesGateway:
    enabled: true

# ── Gateway ─────────────────────────────────────────────────────────
gateway:
  enabled: true
  listeners:
    web:
      port: 8000
      protocol: HTTP
      namespacePolicy:
        from: All

# ── Dashboard ───────────────────────────────────────────────────────
ingressRoute:
  dashboard:
    enabled: true
    matchRule: ClientIP(`{{ ansible_facts['default_ipv4']['network'] }}/24`)
    entryPoints:
      - web

# ── Logging ─────────────────────────────────────────────────────────
log:
  format: json

accessLog:
  enabled: true
